* {
  margin: 0;
  padding: 0;
}

@tailwind base;
@layer base {
  body,
  html {
    @apply overflow-x-hidden;
  }
  button,
  button:focus {
    @apply outline-none;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@layer components {
  .login-form-input {
    @apply h-14 relative z-0 bg-gray-50 appearance-none border border-gray-100 rounded-md w-full py-2 px-3 text-gray-800 text-lg leading-tight;
    transition: 0.3s ease;
  }
  .login-form-input:focus {
    @apply outline-none border-teal-500;
    transition: 0.3s ease;
  }
  .login-form-error {
    @apply h-14 relative z-0 bg-gray-50 appearance-none border border-red-500 rounded-md w-full py-2 px-3 text-gray-800 text-lg leading-tight;
    transition: 0.3s ease;
  }
  .login-form-error:focus {
    @apply outline-none;
    transition: 0.3s ease;
  }
  .login-form-icon {
    @apply text-xl w-12 h-10 my-auto -mr-12 pl-5 relative z-10;
  }
  .text-gray {
    @apply text-lg text-gray-500 font-bold;
    text-decoration: none;
  }
  .text-link {
    @apply text-lg text-teal-500 font-bold;
    text-decoration: none;
  }
  .btn {
    @apply py-3 rounded-lg border-2 border-transparent text-lg mx-auto font-bold;
    transition: 0.2s ease-out;
  }
  .btn-icon {
    @apply h-12 w-12;
  }
  .btn-menu {
    @apply px-3 text-teal-600 bg-teal-50 rounded-2xl flex items-center;
  }
  .btn-icon:focus,
  .btn-menu:focus,
  .btn-icontext:focus {
    @apply bg-black rounded-lg bg-opacity-5;
    transition: 0.2s ease-out;
  }
  .btn-primary {
    @apply bg-teal-500 text-white;
  }
  .btn-black {
    @apply bg-black text-white;
  }
  .btn-primary:focus,
  .btn-black:focus {
    @apply bg-opacity-75;
    transition: 0.2s ease-out;
  }
  .btn-outline-primary {
    @apply border-teal-500 text-teal-500;
  }
  .btn-outline-black {
    @apply border-black text-black;
  }
  .btn-icontext {
    @apply h-24 w-24 rounded-lg;
  }
  .btn-transparent {
    @apply px-3 py-2 rounded-lg text-teal-500;
  }
  .btn-transparent:hover {
    @apply text-teal-500 bg-teal-100;
  }
  .btn-tabbar {
    @apply w-full pt-4 pb-3;
  }
  .btn-tabbar:disabled {
    @apply font-bold text-teal-500 border-b-4 border-teal-500 border-solid;
  }
  .badge-primary {
    @apply p-1 rounded-md text-teal-500 bg-teal-100;
  }
  .badge-danger {
    @apply p-1 rounded-md text-red-500 bg-red-100;
  }
  .badge-warning {
    @apply p-1 rounded-md text-yellow-500 bg-yellow-100;
  }
  .badge-info {
    @apply p-1 rounded-md text-blue-500 bg-blue-100;
  }
  .item-list:hover {
    @apply bg-gray-50 cursor-pointer;
  }
  .appbar {
    @apply flex items-center;
    height: 4rem;
  }
  .body {
    @apply pb-5;
    /* height: calc(~"100vh-40px"); */
    height: calc(100vh - 4rem);
    overflow: scroll;
  }
  .header-app {
    @apply h-14;
  }
  .home-body {
    @apply pb-5;
    height: calc(100vh - 6.5rem);
    overflow: scroll;
  }
  .header-app::before {
    @apply bg-teal-500 absolute w-screen h-36 top-0 left-0;
    content: "";
    border-radius: 0 0 50% 50%;
    transform: scale(1.5);
    z-index: -1;
  }
  .profile-image {
    @apply rounded-full;
  }
  .clamp-1 {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .card {
    @apply bg-white rounded-xl shadow-lg p-6;
  }
  .card-border {
    @apply border-2 bg-white border-gray-100 rounded-lg;
  }
  .horizontal-scroll {
    @apply overflow-x-scroll inline-flex w-full;
    /* width: calc(100vw - 1.5rem); */
  }
  .horizontal-scroll::-webkit-scrollbar,
  .overflow-y-scroll::-webkit-scrollbar,
  .body::-webkit-scrollbar {
    @apply hidden;
  }
  .tips-item h2 {
    @apply break-words;
    width: 12rem;
    word-wrap: break-word;
    hyphens: auto;
  }
  .tips-item {
    @apply text-white h-48;
  }
}

@tailwind utilities;
